//
// Google font - Poppins
//

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
@font-face {
	font-family: 'Andale Mono Regular';
	font-style: normal;
	font-weight: normal;
	src: url(../fonts/ANDALEMO.woff) format('woff');
}