.login-header {
	background-color: $main;
}

.login-header {
	h4, h6 {
		color: white;
	}
}


.login-header {
	h4, h6 {
		color: white;
	}
}

.login-floating-icon {
	position: absolute;
	top: 85px;
	left: 20px;
	border-radius: 50%;
	background-color: $main;
}

.login-body {
	background-color: $bg-primary;
}